{
  "method": "memory",
  "methodConfig": {
    "shard": 1,
    "path": "stats",
    "interval": 20
  },
  "screepsAPIConfig": {
    "privateServer": true,
    "username": "USER",
    "password": "PASS",
    "hostname": "screeps",
    "protocol": "http",
    "port": 21025,
    "path": "/"
  }
}
